
:root {
  --dark-blue: hsl(217, 28%, 15%);
  --dark-blue-main: hsl(218, 28%, 13%);
  --open-sans: 'Open Sans', sans-serif;
  --raleway: 'Raleway', sans-serif;
  --light: white;
  font-size: 14px;
  /* - Dark Blue (main background):
  - Dark Blue (footer background): hsl(216, 53%, 9%)
  - Dark Blue (testimonials background): hsl(219, 30%, 18%) */
}
body {
  /* background: var(--dark-blue-main); */
  background: #181e2a;
  color: var(--light);
  font-family: var(--open-sans);
  margin: 0;
}

.header {
  background: #1b2330;
}
.header-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100px;
  align-items: center;
  margin: 0 -1em;
}
.menu {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: flex-end;
}

.menu a {
  padding: 1em;
  color: var(--light);
  text-decoration: none;
  font-family: var(--raleway);
  font-size: 1em;
}

.wrapper {
  max-width: 1240px;
  padding: 0 40px;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

.hero {
  text-align: center;
  background: url('../images/bg-curvy-mobile.svg'), linear-gradient(to top, #181f2b 0%, #181f2b 230px, #1b2330 230px , #1b2330 100%);
  background-position: center bottom 230px, center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.hero-grid {
  max-width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 1.4em;
  line-height: 1.7;
}

.hero p {
  font-size: 1em;
  line-height: 1.7;
  margin-bottom: 3em;
}

.button {
  background: linear-gradient(to right, hsl(176, 68%, 64%) 0%, hsl(198, 60%, 50%) 100%);
  color: var(--light);
  border: none;
  padding: 1em 1em;
  width: 100%;
  border-radius: 2em;
  font-size: 1.2em;
}
.features {
  margin-top: 10em;
}

.features-grid {
  display: grid;
  grid-row-gap: 4em;
}

.feature-item {
  /* border: 1px solid red; */
  text-align: center;
  margin: 0 -15px;
}
.feature-item img {
  margin-bottom: 2em;
}



.feature-item h2 {
  font-family: var(--raleway);
}


.productive {
  margin-top: 10em;
  margin-bottom: 10em;
}

.productive-grid {
  margin: 0 -15px;
}

.productive h2 {
  font-size: 1.3em;
}

.productive a {
  color: #63dcd8;
  border-bottom: 1px solid #63dcd8;
  text-decoration: none;
  padding-bottom: .5em;
  padding-right: 25px;
  background: url('../images/icon-arrow.svg') no-repeat right bottom 6px;
  background-size: 20px;
}

.hidden {
  display: none;
}



.reviews-grid {
  display: grid;
  grid-row-gap: 2em;
  position: relative;
}

.reviews-grid::before {
  background: url('../images/bg-quotes.png') no-repeat;
  width: 30px;
  height: 30px;
  content: '';
  background-size: 100%;
  display: block;
  position: absolute;
  left: 10px;
  bottom: calc(100% - 10px);
}
.review {
  background: #21293d;
  padding: 1em 2em;
  font-size: .8em;
}

.review-detail {
  display: flex;
  align-items: center;
}
.review p {
  line-height: 1.7;
}
.review-detail img {
  width: 35px;
  height: 35px;
  margin-right: 1em;
  border-radius: 50%;
}
.review-detail small {
  font-weight: 400;
  margin-top: 3px;
  display: block;
}

.reviews {
  padding-bottom: 5em;
}


.form {
  text-align: center;
  position: relative;
  top: 100px;
}

.form input {
  width: 100%;
  padding: 1.2em 2em;
  box-sizing: border-box;
  border-radius: 2em;
  border: none;
  margin-bottom: 2em;
  margin-top: 1em;
}

.form input::-webkit-input-placeholder {
  color: #cacaca;
}

.form-grid  {
  background: #1b2330;
  padding: 2em;
  border-radius: 2em;
  margin: 0 -15px;
}

.form-grid h2 {
  margin: 0;
}

.footer {
  padding: 12em 0 2em;
  background-color: #0c1524;
}
.footer img {
  margin-bottom: 2em;
}

.footer ul {
  list-style: none;
  padding: 0;
  margin-top: 4em;
}
.footer a {
  color: var(--light);
  text-decoration: none;
  margin-bottom: 1em;
  display: block;
}


.phone,
.location,
.email {
  padding-left: 40px;
}

.phone {
  background: url('../images/icon-phone.svg') no-repeat left top 5px;
  background-size: 13px;
}

.email {
  background: url('../images/icon-email.svg') no-repeat left top 2px;
}

.location {
  background: url('../images/icon-location.svg') no-repeat left top 10px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 4em;
}

.social a {
  border: 1px solid white;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}

@media screen and (min-width: 768px) {

  .hero {
    background: url('../images/bg-curvy-desktop.svg'), #1c2230;
    /* linear-gradient(to top, #181f2b 0%, #181f2b 230px, #1b2330 230px , #1b2330 100%); */
    background-position: center bottom, center;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  h1 {
    font-size: 2.5em;
  }
  .button {
    max-width: 300px;
  }

  .features-grid {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 12em;
  }
  .feature-item {
    max-width: 350px;
    margin: 0 auto;
  }

  .reviews-grid {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2em;
  }

  .footer-grid {

  }

  .productive-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 4em;
    align-items: center;
  }

  .form-grid {
    max-width: 768px;
    margin: 0 auto;
  }
  .form form {
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-column-gap: 2em;
    align-items: center;
  }
  .form form {
    margin-top: 2em;
  }
  .form input {
    margin: 0;
  }
  .form .button {
    height: 50px;
  }

  .footer * {
    margin-top: 0 !important;
  }
  .footer-grid {
    display: grid;
    grid-column-gap: 1em;
    grid-template-columns: 300px 1fr 1fr 1fr 1fr;
  }


}


@media screen and (min-width: 1100px) {

  .footer-contact {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-template-rows: 40px 40px;
    gap: 0 4em;
  }
  .location {
    grid-row: 1 / 3;
  }
  .email {
    grid-column: 2 / 3;
  }
  .footer-grid {
    display: grid;
    grid-column-gap: 2em;
    grid-template-columns: 700px 1fr 1fr 1fr 1fr;
  }
}